@import "../global/responsive.scss";
@import "../global/variable.scss";

.header {
  user-select: none;
  height: $v-header_height;
  width: 90%;
  position: fixed;
  z-index: 500;
  display: flex;
  top: 20px;
  left: 0;
  padding: 0 5%;
  justify-content: space-between;
  background-color: rgb(161, 230, 223);

  div {
    transition: all .15s;
  }

  div:nth-child(1) {
    background-color: white;
    // box-shadow: .2rem .2rem .5rem rgb(224, 224, 224);
    font-size: 2rem;
    position: relative;
    padding: 0 1rem;
    border-radius: .5rem;
    z-index: 530;
    height: 90%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    // border-style: solid;
    // border-width: .1rem;
    // border-color: rgb(201, 201, 201);

    .icon {
      display: inline-block;
      height: 2.5rem;
      margin-top: .5rem;
      margin-right: .5rem;
    }

    &:hover {
      background-color: rgb(9, 180, 163);
      color: white;

      a {
        color: white;
      }
    }

    a {
      position: relative;
      z-index: 535;
      color: black;
      text-decoration: none;
      transition: all .15s;
    }
  }

  div:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;

    ul {
      margin: 0;
      margin-top: .7rem;
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        margin-left: .5rem;
        padding: .35rem 1rem;
        background-color: white;
        border-radius: .5rem;
        display: block;
        height: 90%;
        // border-style: solid;
        // border-width: .1rem;
        // border-color: rgb(201, 201, 201);
        transition: all .15s;

        &:hover {
          background-color: rgb(9, 180, 163);
          color: white;
    
          a {
            color: white;
          }
        }

        a {
          color: black;
          text-decoration: none;
          transition: all .15s;
        }
      }
    }
  }
}